/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [emp_no]
      ,[first_name]
      ,[last_name]
      ,[job_title]
      ,[age]
      ,[dept_no]
  FROM [classwork].[dbo].[workers]